h1, h3 {
    font-family: sans-serif;
    margin-top: 1.5em;
}
h1 {
    font-size: 32px;
}
table, th, td {
    border: 1px solid black;
 }
 figcaption {
     font-style: italic;
 }
 body {
     width: 70%;
     margin: auto;

 }
figure {
    float:right;
    }